#DIV_1 {
    height: 698px;
    width: 1209px;
    perspective-origin: 604.5px 349px;
    transform-origin: 604.5px 349px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 70px 0px 0px 140px;
}/*#DIV_1*/

#DIV_2 {
    display: flex;
    height: 698px;
    width: 1209px;
    perspective-origin: 604.5px 349px;
    transform-origin: 604.5px 349px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_2*/

#DIV_3 {
    height: 698px;
    min-height: auto;
    min-width: auto;
    width: 604.5px;
    perspective-origin: 302.25px 349px;
    transform-origin: 302.25px 349px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_3*/

#H3_4 {
    color: rgb(61, 62, 61);
    height: 28px;
    text-decoration: none solid rgb(61, 62, 61);
    width: 604.5px;
    column-rule-color: rgb(61, 62, 61);
    perspective-origin: 302.25px 14px;
    transform-origin: 302.25px 14px;
    caret-color: rgb(61, 62, 61);
    border: 0px none rgb(61, 62, 61);
    font: normal normal 900 normal 20px / normal Roboto, sans-serif;
    margin: 35px 0px 20px;
    outline: rgb(61, 62, 61) none 0px;
}/*#H3_4*/

#DIV_5 {
    display: flex;
    height: 63px;
    width: 604.5px;
    perspective-origin: 302.25px 31.5px;
    transform-origin: 302.25px 31.5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_5*/

#DIV_6 {
    height: 63px;
    min-height: auto;
    min-width: auto;
    width: 258.5px;
    perspective-origin: 129.25px 31.5px;
    transform-origin: 129.25px 31.5px;
    flex: 1 1 0%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_6*/

#DIV_7 {
    color: rgb(60, 62, 59);
    display: flex;
    height: 48px;
    text-decoration: none solid rgb(60, 62, 59);
    width: 258.5px;
    column-rule-color: rgb(60, 62, 59);
    align-items: baseline;
    perspective-origin: 129.25px 24px;
    transform-origin: 129.25px 24px;
    caret-color: rgb(60, 62, 59);
    border: 0px none rgb(60, 62, 59);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    outline: rgb(60, 62, 59) none 0px;
}/*#DIV_7*/

#DIV_8 {
    color: rgb(60, 62, 59);
    height: 15px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(60, 62, 59);
    width: 24.5px;
    column-rule-color: rgb(60, 62, 59);
    perspective-origin: 12.25px 7.5px;
    transform-origin: 12.25px 7.5px;
    caret-color: rgb(60, 62, 59);
    border: 0px none rgb(60, 62, 59);
    font: normal normal 700 normal 13px / normal Roboto, sans-serif;
    outline: rgb(60, 62, 59) none 0px;
}/*#DIV_8*/

#DIV_9 {
    color: rgb(60, 62, 59);
    height: 48px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(60, 62, 59);
    width: 51.7656px;
    column-rule-color: rgb(60, 62, 59);
    perspective-origin: 25.875px 24px;
    transform-origin: 25.875px 24px;
    caret-color: rgb(60, 62, 59);
    border: 0px none rgb(60, 62, 59);
    font: normal normal 400 normal 40px / normal Roboto, sans-serif;
    margin: 0px 0px 0px 10px;
    outline: rgb(60, 62, 59) none 0px;
}/*#DIV_9*/

#SPAN_10 {
    color: rgb(60, 62, 59);
    text-decoration: none solid rgb(60, 62, 59);
    column-rule-color: rgb(60, 62, 59);
    caret-color: rgb(60, 62, 59);
    border: 0px none rgb(60, 62, 59);
    font: normal normal 400 normal 40px / normal Roboto, sans-serif;
    outline: rgb(60, 62, 59) none 0px;
}/*#SPAN_10*/

#DIV_11 {
    display: flex;
    height: 15px;
    width: 258.5px;
    perspective-origin: 129.25px 7.5px;
    transform-origin: 129.25px 7.5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_11*/

#DIV_12 {
    height: 15px;
    min-height: auto;
    min-width: auto;
    width: 44.7656px;
    perspective-origin: 22.375px 7.5px;
    transform-origin: 22.375px 7.5px;
    font: normal normal 700 normal 13px / normal Roboto, sans-serif;
}/*#DIV_12*/

#SPAN_13 {
    font: normal normal 700 normal 13px / normal Roboto, sans-serif;
}/*#SPAN_13*/

#DIV_14 {
    color: rgb(0, 128, 0);
    height: 15px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(0, 128, 0);
    width: 35.7656px;
    column-rule-color: rgb(0, 128, 0);
    perspective-origin: 17.875px 7.5px;
    transform-origin: 17.875px 7.5px;
    caret-color: rgb(0, 128, 0);
    border: 0px none rgb(0, 128, 0);
    font: normal normal 700 normal 13px / normal Roboto, sans-serif;
    margin: 0px 0px 0px 5px;
    outline: rgb(0, 128, 0) none 0px;
}/*#DIV_14*/

#DIV_15 {
    display: flex;
    height: 63px;
    min-height: auto;
    min-width: auto;
    width: 276px;
    perspective-origin: 138px 31.5px;
    transform-origin: 138px 31.5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 70px 0px 0px;
}/*#DIV_15*/

#DIV_16, #DIV_20, #DIV_24 {
    color: rgb(74, 97, 243);
    cursor: pointer;
    display: table;
    height: 63px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(74, 97, 243);
    width: 40px;
    column-rule-color: rgb(74, 97, 243);
    perspective-origin: 32.5px 31.5px;
    transform-origin: 32.5px 31.5px;
    caret-color: rgb(74, 97, 243);
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(74, 97, 243);
    border-radius: 5px 5px 5px 5px;
    font: normal normal 700 normal 11px / normal Roboto, sans-serif;
    margin: 0px 45px 0px 0px;
    outline: rgb(74, 97, 243) none 0px;
    padding: 0px 10px 0px 15px;
}/*#DIV_16, #DIV_20, #DIV_24*/

#DIV_17, #DIV_21, #DIV_25 {
    color: rgb(74, 97, 243);
    cursor: pointer;
    display: table-cell;
    height: 63px;
    text-decoration: none solid rgb(74, 97, 243);
    vertical-align: middle;
    width: 40px;
    column-rule-color: rgb(74, 97, 243);
    perspective-origin: 20px 31.5px;
    transform-origin: 20px 31.5px;
    caret-color: rgb(74, 97, 243);
    border: 0px none rgb(74, 97, 243);
    font: normal normal 700 normal 11px / normal Roboto, sans-serif;
    outline: rgb(74, 97, 243) none 0px;
}/*#DIV_17, #DIV_21, #DIV_25*/

#I_18 {
    color: rgb(74, 97, 243);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    text-decoration: none solid rgb(74, 97, 243);
    width: 12.75px;
    column-rule-color: rgb(74, 97, 243);
    perspective-origin: 6.375px 8.5px;
    transform-origin: 6.375px 8.5px;
    caret-color: rgb(74, 97, 243);
    border: 0px none rgb(74, 97, 243);
    font: normal normal 400 normal 17px / 17px FontAwesome;
    margin: 0px 0px 9px;
    outline: rgb(74, 97, 243) none 0px;
}/*#I_18*/

#I_18:before {
    color: rgb(74, 97, 243);
    content: '""';
    cursor: pointer;
    text-decoration: none solid rgb(74, 97, 243);
    column-rule-color: rgb(74, 97, 243);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(74, 97, 243);
    border: 0px none rgb(74, 97, 243);
    font: normal normal 400 normal 17px / 17px FontAwesome;
    outline: rgb(74, 97, 243) none 0px;
}/*#I_18:before*/

#BR_19, #BR_23, #BR_27 {
    color: rgb(74, 97, 243);
    cursor: pointer;
    text-decoration: none solid rgb(74, 97, 243);
    column-rule-color: rgb(74, 97, 243);
    caret-color: rgb(74, 97, 243);
    border: 0px none rgb(74, 97, 243);
    font: normal normal 700 normal 11px / normal Roboto, sans-serif;
    outline: rgb(74, 97, 243) none 0px;
}/*#BR_19, #BR_23, #BR_27*/

#I_22 {
    color: rgb(74, 97, 243);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    text-decoration: none solid rgb(74, 97, 243);
    width: 12.75px;
    column-rule-color: rgb(74, 97, 243);
    perspective-origin: 6.375px 8.5px;
    transform-origin: 6.375px 8.5px;
    caret-color: rgb(74, 97, 243);
    border: 0px none rgb(74, 97, 243);
    font: normal normal 400 normal 17px / 17px FontAwesome;
    margin: 0px 0px 9px;
    outline: rgb(74, 97, 243) none 0px;
}/*#I_22*/

#I_22:before {
    color: rgb(74, 97, 243);
    content: '""';
    cursor: pointer;
    text-decoration: none solid rgb(74, 97, 243);
    column-rule-color: rgb(74, 97, 243);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(74, 97, 243);
    border: 0px none rgb(74, 97, 243);
    font: normal normal 400 normal 17px / 17px FontAwesome;
    outline: rgb(74, 97, 243) none 0px;
}/*#I_22:before*/

#I_26 {
    color: rgb(74, 97, 243);
    cursor: pointer;
    display: inline-block;
    height: 17px;
    text-decoration: none solid rgb(74, 97, 243);
    width: 12.75px;
    column-rule-color: rgb(74, 97, 243);
    perspective-origin: 6.375px 8.5px;
    transform-origin: 6.375px 8.5px;
    caret-color: rgb(74, 97, 243);
    border: 0px none rgb(74, 97, 243);
    font: normal normal 400 normal 17px / 17px FontAwesome;
    margin: 0px 0px 9px;
    outline: rgb(74, 97, 243) none 0px;
}/*#I_26*/

#I_26:before {
    color: rgb(74, 97, 243);
    content: '""';
    cursor: pointer;
    text-decoration: none solid rgb(74, 97, 243);
    column-rule-color: rgb(74, 97, 243);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(74, 97, 243);
    border: 0px none rgb(74, 97, 243);
    font: normal normal 400 normal 17px / 17px FontAwesome;
    outline: rgb(74, 97, 243) none 0px;
}/*#I_26:before*/

#DIV_28 {
    display: flex;
    height: 152px;
    width: 534.5px;
    justify-content: space-between;
    perspective-origin: 267.25px 76px;
    transform-origin: 267.25px 76px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 30px 70px 0px 0px;
}/*#DIV_28*/

#DIV_29, #DIV_39 {
    height: 152px;
    min-height: auto;
    min-width: auto;
    width: 267.25px;
    perspective-origin: 133.625px 76px;
    transform-origin: 133.625px 76px;
    flex: 0 1 50%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_29, #DIV_39*/

#SPAN_30, #SPAN_40 {
    color: rgb(59, 62, 58);
    display: block;
    height: 15px;
    letter-spacing: 0.2px;
    text-decoration: none solid rgb(59, 62, 58);
    width: 267.25px;
    column-rule-color: rgb(59, 62, 58);
    perspective-origin: 133.625px 7.5px;
    transform-origin: 133.625px 7.5px;
    caret-color: rgb(59, 62, 58);
    border: 0px none rgb(59, 62, 58);
    font: normal normal 500 normal 13px / normal Roboto, sans-serif;
    outline: rgb(59, 62, 58) none 0px;
}/*#SPAN_30, #SPAN_40*/

#DIV_31, #DIV_41 {
    display: flex;
    height: 37px;
    width: 267.25px;
    align-items: center;
    perspective-origin: 133.625px 18.5px;
    transform-origin: 133.625px 18.5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_31, #DIV_41*/

#SPAN_32 {
    color: rgb(64, 64, 64);
    display: block;
    height: 19px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(64, 64, 64);
    width: 21.9063px;
    column-rule-color: rgb(64, 64, 64);
    perspective-origin: 10.9531px 9.5px;
    transform-origin: 10.9531px 9.5px;
    caret-color: rgb(64, 64, 64);
    border: 0px none rgb(64, 64, 64);
    font: normal normal 700 normal 16px / normal Roboto, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(64, 64, 64) none 0px;
}/*#SPAN_32*/

#SPAN_33 {
    display: block;
    height: 37px;
    min-height: auto;
    min-width: auto;
    width: 50.5469px;
    perspective-origin: 25.2656px 18.5px;
    transform-origin: 25.2656px 18.5px;
    font: normal normal 400 normal 30px / normal Roboto, sans-serif;
}/*#SPAN_33*/

#SPAN_34, #SPAN_44 {
    font: normal normal 400 normal 30px / normal Roboto, sans-serif;
}/*#SPAN_34, #SPAN_44*/

#DIV_35, #DIV_45 {
    bottom: 0px;
    cursor: default;
    height: 100px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 150px;
    perspective-origin: 75px 50px;
    transform-origin: 75px 50px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_35, #DIV_45*/

#svg_36, #svg_46 {
    cursor: default;
    height: 100px;
    width: 150px;
    perspective-origin: 75px 50px;
    transform-origin: 75px 50px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    overflow: hidden;
}/*#svg_36, #svg_46*/

#g_37, #g_47, #g_64, #g_66, #g_70, #g_74, #g_78, #g_82, #g_86, #g_90, #g_94, #g_98, #g_102, #g_106, #g_110, #g_114, #g_121 {
    cursor: default;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#g_37, #g_47, #g_64, #g_66, #g_70, #g_74, #g_78, #g_82, #g_86, #g_90, #g_94, #g_98, #g_102, #g_106, #g_110, #g_114, #g_121*/

#path_38 {
    cursor: default;
    fill: none;
    stroke: rgb(0, 128, 0);
    stroke-width: 2px;
    d: path('M 5 25.6663 C 5.95238 25.9222 6.90476 26.1781 7.85714 27.2019 C 8.80952 28.2256 9.7619 42.5675 10.7143 47.6712 C 11.6667 52.775 12.619 57.8244 13.5714 57.8244 C 14.5238 57.8244 15.4762 24.6515 16.4286 24.6515 C 17.381 24.6515 18.3333 27.1848 19.2857 28.9377 C 20.2381 30.6907 21.1905 32.3909 22.1429 35.1691 C 23.0952 37.9473 24.0476 45.6069 25 45.6069 C 25.9524 45.6069 26.9048 44.8154 27.8571 44.5741 C 28.8095 44.3328 29.7619 44.159 30.7143 44.159 C 31.6667 44.159 32.619 45.7916 33.5714 47.3731 C 34.5238 48.9547 35.4762 52.0518 36.4286 53.6484 C 37.381 55.2449 38.3333 56.4972 39.2857 56.9525 C 40.2381 57.4077 41.1905 57.4233 42.1429 57.6354 C 43.0952 57.8474 44.0476 57.9149 45 58.2249 C 45.9524 58.5348 46.9048 59.495 47.8571 59.495 C 48.8095 59.495 49.7619 57.6883 50.7143 57.6883 C 51.6667 57.6883 52.619 58.622 53.5714 58.622 C 54.5238 58.622 55.4762 58.3027 56.4286 58.163 C 57.381 58.0233 58.3333 58.0038 59.2857 57.7839 C 60.2381 57.5639 61.1905 57.4704 62.1429 56.8434 C 63.0952 56.2164 64.0476 53.1804 65 53.1804 C 65.9524 53.1804 66.9048 59.7155 67.8571 59.7155 C 68.8095 59.7155 69.7619 59.6664 70.7143 59.5681 C 71.6667 59.4699 72.619 58.7795 73.5714 58.7795 C 74.5238 58.7795 75.4762 58.7982 76.4286 58.8358 C 77.381 58.8732 78.3333 59.7639 79.2857 59.7639 C 80.2381 59.7639 81.1905 59.7005 82.1429 59.5737 C 83.0952 59.447 84.0476 58.8211 85 58.8211 C 85.9524 58.8211 86.9048 59.657 87.8571 59.657 C 88.8095 59.657 89.7619 57.3755 90.7143 56.5014 C 91.6667 55.6273 92.619 54.5795 93.5714 54.4123 C 94.5238 54.245 95.4762 54.1614 96.4286 54.1614 C 97.381 54.1614 98.3333 54.9781 99.2857 54.9781 C 100.238 54.9781 101.19 54.8769 102.143 54.6744 C 103.095 54.4719 104.048 50.7061 105 49.5298 C 105.952 48.3534 106.905 47.6161 107.857 47.6161 C 108.81 47.6161 109.762 48.2956 110.714 48.2956 C 111.667 48.2956 112.619 46.6396 113.571 46.3291 C 114.524 46.0186 115.476 46.148 116.429 45.8634 C 117.381 45.5788 118.333 45.0065 119.286 44.6214 C 120.238 44.2363 121.19 43.5526 122.143 43.5526 C 123.095 43.5526 124.048 45.2941 125 45.2941 C 125.952 45.2941 126.905 44.8475 127.857 44.8475 C 128.81 44.8475 129.762 47.6341 130.714 47.6341 C 131.667 47.6341 132.619 46.7938 133.571 46.7938 C 134.524 46.7938 135.476 48.3024 136.429 48.3024 C 137.381 48.3024 138.333 48.2585 139.286 48.1707 C 140.238 48.083 141.19 43.5373 142.143 41.4444 C 143.095 39.3515 144.048 37.4825 145 35.6135');
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#path_38*/

#SPAN_42 {
    color: rgb(64, 64, 64);
    display: block;
    height: 19px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(64, 64, 64);
    width: 9.1875px;
    column-rule-color: rgb(64, 64, 64);
    perspective-origin: 4.59375px 9.5px;
    transform-origin: 4.59375px 9.5px;
    caret-color: rgb(64, 64, 64);
    border: 0px none rgb(64, 64, 64);
    font: normal normal 700 normal 16px / normal Roboto, sans-serif;
    margin: 0px 5px 0px 0px;
    outline: rgb(64, 64, 64) none 0px;
}/*#SPAN_42*/

#SPAN_43 {
    display: block;
    height: 37px;
    min-height: auto;
    min-width: auto;
    width: 67.3906px;
    perspective-origin: 33.6875px 18.5px;
    transform-origin: 33.6875px 18.5px;
    font: normal normal 400 normal 30px / normal Roboto, sans-serif;
}/*#SPAN_43*/

#path_48 {
    cursor: default;
    fill: none;
    stroke: rgb(0, 128, 0);
    stroke-width: 2px;
    d: path('M 5 40.7588 C 5.95238 23.7654 6.90476 6.7721 7.85714 6.7721 C 8.80952 6.7721 9.7619 39.2081 10.7143 39.2081 C 11.6667 39.2081 12.619 16.6685 13.5714 16.6685 C 14.5238 16.6685 15.4762 38.5628 16.4286 42.1412 C 17.381 45.7196 18.3333 45.2735 19.2857 47.5088 C 20.2381 49.7441 21.1905 55.553 22.1429 55.553 C 23.0952 55.553 24.0476 54.859 25 54.5567 C 25.9524 54.2545 26.9048 53.7395 27.8571 53.7395 C 28.8095 53.7395 29.7619 55.8241 30.7143 57.1577 C 31.6667 58.4913 32.619 60.5089 33.5714 61.7414 C 34.5238 62.9739 35.4762 64.1816 36.4286 64.553 C 37.381 64.9244 38.3333 64.9344 39.2857 65.1101 C 40.2381 65.2858 41.1905 65.3637 42.1429 65.6069 C 43.0952 65.8501 44.0476 66.569 45 66.569 C 45.9524 66.569 46.9048 65.2397 47.8571 65.2397 C 48.8095 65.2397 49.7619 65.885 50.7143 65.885 C 51.6667 65.885 52.619 65.7035 53.5714 65.5925 C 54.5238 65.4815 55.4762 65.4068 56.4286 65.219 C 57.381 65.0312 58.3333 64.9679 59.2857 64.4657 C 60.2381 63.9635 61.1905 61.3715 62.1429 61.3715 C 63.0952 61.3715 64.0476 66.767 65 66.767 C 65.9524 66.767 66.9048 66.7202 67.8571 66.6266 C 68.8095 66.533 69.7619 65.9822 70.7143 65.9822 C 71.6667 65.9822 72.619 66.0086 73.5714 66.0614 C 74.5238 66.1142 75.4762 66.7265 76.4286 66.7265 C 77.381 66.7265 78.3333 66.6869 79.2857 66.6077 C 80.2381 66.5285 81.1905 66.182 82.1429 66.182 C 83.0952 66.182 84.0476 66.8102 85 66.8102 C 85.9524 66.8102 86.9048 64.8547 87.8571 64.1516 C 88.8095 63.4486 89.7619 62.8025 90.7143 62.5919 C 91.6667 62.3813 92.619 62.276 93.5714 62.276 C 94.5238 62.276 95.4762 63.0104 96.4286 63.0104 C 97.381 63.0104 98.3333 62.921 99.2857 62.7422 C 100.238 62.5634 101.19 59.5726 102.143 58.622 C 103.095 57.6715 104.048 57.0389 105 57.0389 C 105.952 57.0389 106.905 57.5717 107.857 57.5717 C 108.81 57.5717 109.762 56.1914 110.714 55.9958 C 111.667 55.8002 112.619 55.898 113.571 55.7024 C 114.524 55.5068 115.476 55.0117 116.429 54.7106 C 117.381 54.4095 118.333 53.8961 119.286 53.8961 C 120.238 53.8961 121.19 55.2326 122.143 55.2326 C 123.095 55.2326 124.048 54.9176 125 54.9176 C 125.952 54.9176 126.905 57.2315 127.857 57.2315 C 128.81 57.2315 129.762 56.408 130.714 56.408 C 131.667 56.408 132.619 57.6221 133.571 57.6221 C 134.524 57.6221 135.476 57.5438 136.429 57.3872 C 137.381 57.2306 138.333 53.8076 139.286 52.1753 C 140.238 50.543 141.19 47.5934 142.143 47.5934 C 143.095 47.5934 144.048 49.6679 145 51.7424');
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#path_48*/

#DIV_49 {
    height: 350px;
    width: 1300px;
    perspective-origin: 650px 175px;
    transform-origin: 650px 175px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_49*/

#DIV_50 {
    display: flex;
    height: 32px;
    width: 1300px;
    align-items: center;
    perspective-origin: 650px 16px;
    transform-origin: 650px 16px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 20px 0px;
}/*#DIV_50*/

#DIV_51 {
    height: 22px;
    min-height: auto;
    min-width: auto;
    text-transform: capitalize;
    width: 910px;
    perspective-origin: 455px 11px;
    transform-origin: 455px 11px;
    flex: 0 1 70%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_51*/

#SPAN_52 {
    text-transform: capitalize;
    font: normal normal 800 normal 15px / normal Roboto, sans-serif;
}/*#SPAN_52*/

#SPAN_53 {
    content: '""';
    display: inline-block;
    height: 9px;
    text-transform: capitalize;
    width: 9px;
    perspective-origin: 4.5px 4.5px;
    transform-origin: 4.5px 4.5px;
    background: rgb(73, 98, 243) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 50% 50% 50% 50%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 15px;
}/*#SPAN_53*/

#SPAN_54 {
    color: rgb(102, 102, 102);
    text-decoration: none solid rgb(102, 102, 102);
    text-transform: capitalize;
    column-rule-color: rgb(102, 102, 102);
    caret-color: rgb(102, 102, 102);
    border: 0px none rgb(102, 102, 102);
    font: normal normal 700 normal 13px / normal Roboto, sans-serif;
    outline: rgb(102, 102, 102) none 0px;
}/*#SPAN_54*/

#DIV_55 {
    height: 32px;
    min-height: auto;
    min-width: auto;
    width: 301.734px;
    perspective-origin: 150.859px 16px;
    transform-origin: 150.859px 16px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_55*/

#BUTTON_56 {
    cursor: pointer;
    height: 32px;
    letter-spacing: 0.2px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 57.0781px;
    perspective-origin: 28.5313px 16px;
    transform-origin: 28.5313px 16px;
    user-select: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 500 normal 13px / 18.5714px Arial;
    margin: 0px 15px 0px 0px;
    padding: 6px 14px;
}/*#BUTTON_56*/

#BUTTON_57 {
    cursor: pointer;
    height: 32px;
    letter-spacing: 0.2px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 67.1406px;
    perspective-origin: 33.5625px 16px;
    transform-origin: 33.5625px 16px;
    user-select: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 500 normal 13px / 18.5714px Arial;
    margin: 0px 15px 0px 0px;
    padding: 6px 14px;
}/*#BUTTON_57*/

#BUTTON_58 {
    cursor: pointer;
    height: 32px;
    letter-spacing: 0.2px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 63.7969px;
    perspective-origin: 31.8906px 16px;
    transform-origin: 31.8906px 16px;
    user-select: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 500 normal 13px / 18.5714px Arial;
    margin: 0px 15px 0px 0px;
    padding: 6px 14px;
}/*#BUTTON_58*/

#BUTTON_59 {
    cursor: pointer;
    height: 32px;
    letter-spacing: 0.2px;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: 53.7188px;
    perspective-origin: 26.8594px 16px;
    transform-origin: 26.8594px 16px;
    user-select: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 500 normal 13px / 18.5714px Arial;
    margin: 0px 15px 0px 0px;
    padding: 6px 14px;
}/*#BUTTON_59*/

#DIV_60 {
    height: 350px;
    width: 1300px;
    perspective-origin: 650px 175px;
    transform-origin: 650px 175px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 0px 0px -70px;
}/*#DIV_60*/

#DIV_61 {
    bottom: 0px;
    height: 350px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 1300px;
    perspective-origin: 650px 175px;
    transform-origin: 650px 175px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_61*/

#DIV_62 {
    bottom: 0px;
    cursor: default;
    height: 350px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 1300px;
    perspective-origin: 650px 175px;
    transform-origin: 650px 175px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_62*/

#svg_63 {
    cursor: default;
    height: 350px;
    width: 1300px;
    perspective-origin: 650px 175px;
    transform-origin: 650px 175px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    overflow: hidden;
}/*#svg_63*/

#g_65, #g_115 {
    cursor: default;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#g_65, #g_115*/

#line_67, #line_71, #line_75, #line_79, #line_83, #line_87, #line_91, #line_95, #line_99, #line_103, #line_107, #line_111 {
    cursor: default;
    display: none;
    perspective-origin: 50% 50%;
    fill: none;
    stroke: rgb(102, 102, 102);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#line_67, #line_71, #line_75, #line_79, #line_83, #line_87, #line_91, #line_95, #line_99, #line_103, #line_107, #line_111*/

#text_68 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 101.75px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_68*/

#tspan_69, #tspan_73, #tspan_77, #tspan_81, #tspan_85, #tspan_89, #tspan_93, #tspan_97, #tspan_101, #tspan_105, #tspan_109, #tspan_113 {
    cursor: default;
    white-space: nowrap;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#tspan_69, #tspan_73, #tspan_77, #tspan_81, #tspan_85, #tspan_89, #tspan_93, #tspan_97, #tspan_101, #tspan_105, #tspan_109, #tspan_113*/

#text_72 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 206.891px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_72*/

#text_76 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 312.031px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_76*/

#text_80 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 417.172px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_80*/

#text_84 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 522.313px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_84*/

#text_88 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 627.453px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_88*/

#text_92 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 732.594px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_92*/

#text_96 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 837.25px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_96*/

#text_100 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 942.391px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_100*/

#text_104 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 1047.53px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_104*/

#text_108 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 1152.67px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_108*/

#text_112 {
    cursor: default;
    display: block;
    white-space: nowrap;
    perspective-origin: 1256.41px 0px;
    fill: rgb(102, 102, 102);
    text-anchor: middle;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
}/*#text_112*/

#line_116, #line_117, #line_119 {
    cursor: default;
    fill: none;
    stroke: rgb(204, 204, 204);
    stroke-dasharray: 0px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#line_116, #line_117, #line_119*/

#line_118, #line_120 {
    cursor: default;
    fill: none;
    stroke: rgb(204, 204, 204);
    stroke-dasharray: 0px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#line_118, #line_120*/

#path_122 {
    cursor: default;
    fill: none;
    stroke: rgb(73, 98, 243);
    stroke-width: 2px;
    d: path('M 20 128.169 C 23.8941 69.6366 27.7882 11.1039 31.6822 11.1039 C 35.5763 11.1039 39.4704 122.828 43.3645 122.828 C 47.2586 122.828 51.1526 45.1915 55.0467 45.1915 C 58.9408 45.1915 62.8349 120.605 66.729 132.931 C 70.6231 145.256 74.5171 143.72 78.4112 151.419 C 82.3053 159.119 86.1994 179.127 90.0935 179.127 C 93.9875 179.127 97.8816 176.736 101.776 175.695 C 105.67 174.654 109.564 172.88 113.458 172.88 C 117.352 172.88 121.246 180.061 125.14 184.654 C 129.034 189.248 132.928 196.197 136.822 200.443 C 140.717 204.688 144.611 208.848 148.505 210.127 C 152.399 211.406 156.293 211.441 160.187 212.046 C 164.081 212.651 167.975 212.92 171.869 213.757 C 175.763 214.595 179.657 217.071 183.551 217.071 C 187.445 217.071 191.34 212.492 195.234 212.492 C 199.128 212.492 203.022 214.715 206.916 214.715 C 210.81 214.715 214.704 214.09 218.598 213.708 C 222.492 213.325 226.386 213.068 230.28 212.421 C 234.174 211.774 238.069 211.556 241.963 209.826 C 245.857 208.096 249.751 199.169 253.645 199.169 C 257.539 199.169 261.433 217.753 265.327 217.753 C 269.221 217.753 273.115 217.592 277.009 217.269 C 280.903 216.947 284.798 215.05 288.692 215.05 C 292.586 215.05 296.48 215.141 300.374 215.323 C 304.268 215.504 308.162 217.613 312.056 217.613 C 315.95 217.613 319.844 217.477 323.738 217.204 C 327.632 216.932 331.526 215.738 335.421 215.738 C 339.315 215.738 343.209 217.902 347.103 217.902 C 350.997 217.902 354.891 211.166 358.785 208.744 C 362.679 206.323 366.573 204.098 370.467 203.372 C 374.361 202.647 378.255 202.284 382.15 202.284 C 386.044 202.284 389.938 204.814 393.832 204.814 C 397.726 204.814 401.62 204.506 405.514 203.89 C 409.408 203.274 413.302 192.972 417.196 189.698 C 421.09 186.424 424.984 184.245 428.879 184.245 C 432.773 184.245 436.667 186.08 440.561 186.08 C 444.455 186.08 448.349 181.326 452.243 180.652 C 456.137 179.978 460.031 180.315 463.925 179.642 C 467.819 178.968 471.713 177.262 475.607 176.225 C 479.502 175.188 483.396 173.42 487.29 173.42 C 491.184 173.42 495.078 178.023 498.972 178.023 C 502.866 178.023 506.76 176.938 510.654 176.938 C 514.548 176.938 518.442 184.908 522.336 184.908 C 526.231 184.908 530.125 182.072 534.019 182.072 C 537.913 182.072 541.807 186.254 545.701 186.254 C 549.595 186.254 553.489 185.984 557.383 185.445 C 561.277 184.905 565.171 173.115 569.065 167.493 C 572.959 161.87 576.854 151.711 580.748 151.711 C 584.642 151.711 588.536 160.595 592.43 166.002 C 596.324 171.409 600.218 184.152 604.112 184.152 C 608.006 184.152 611.9 178.941 615.794 178.941 C 619.688 178.941 623.583 180.43 627.477 183.408 C 631.371 186.386 635.265 200.458 639.159 200.458 C 643.053 200.458 646.947 159.777 650.841 158.692 C 654.735 157.607 658.629 158.149 662.523 157.064 C 666.417 155.979 670.312 147.901 674.206 147.901 C 678.1 147.901 681.994 148.471 685.888 148.471 C 689.782 148.471 693.676 147.511 697.57 145.591 C 701.464 143.671 705.358 139.308 709.252 133.734 C 713.146 128.159 717.041 112.145 720.935 112.145 C 724.829 112.145 728.723 113.956 732.617 117.576 C 736.511 121.197 740.405 141.751 744.299 147.203 C 748.193 152.655 752.087 155.381 755.981 155.381 C 759.875 155.381 763.769 126.439 767.664 126.439 C 771.558 126.439 775.452 135.736 779.346 135.736 C 783.24 135.736 787.134 122.192 791.028 122.192 C 794.922 122.192 798.816 130.234 802.71 132.596 C 806.604 134.958 810.498 134.343 814.393 136.363 C 818.287 138.382 822.181 144.711 826.075 144.711 C 829.969 144.711 833.863 133.836 837.757 130.2 C 841.651 126.563 845.545 124.172 849.439 122.893 C 853.333 121.614 857.227 122.12 861.122 120.974 C 865.016 119.828 868.91 116.017 872.804 116.017 C 876.698 116.017 880.592 120.611 884.486 120.611 C 888.38 120.611 892.274 110.592 896.168 107.291 C 900.062 103.989 903.956 100.802 907.85 100.802 C 911.745 100.802 915.639 130.181 919.533 130.181 C 923.427 130.181 927.321 99.7582 931.215 90.653 C 935.109 81.5478 939.003 75.5498 942.897 75.5498 C 946.791 75.5498 950.685 83.3391 954.579 98.9176 C 958.474 114.496 962.368 152.351 966.262 172.812 C 970.156 193.273 974.05 221.053 977.944 221.684 C 981.838 222.314 985.732 222.629 989.626 222.629 C 993.52 222.629 997.414 222.561 1001.31 222.561 C 1005.2 222.561 1009.1 223.209 1012.99 223.209 C 1016.88 223.209 1020.78 218.589 1024.67 216.95 C 1028.57 215.311 1032.46 213.376 1036.36 213.376 C 1040.25 213.376 1044.14 229.477 1048.04 229.477 C 1051.93 229.477 1055.83 223.971 1059.72 220.385 C 1063.61 216.799 1067.51 207.963 1071.4 207.963 C 1075.3 207.963 1079.19 210.436 1083.08 215.382 C 1086.98 220.327 1090.87 243.241 1094.77 245.634 C 1098.66 248.028 1102.55 249.224 1106.45 249.224 C 1110.34 249.224 1114.24 247.268 1118.13 243.356 C 1122.02 239.444 1125.92 213.956 1129.81 202.724 C 1133.71 191.493 1137.6 175.968 1141.5 175.968 C 1145.39 175.968 1149.28 188.511 1153.18 196.462 C 1157.07 204.413 1160.97 223.674 1164.86 223.674 C 1168.75 223.674 1172.65 212.306 1176.54 207.628 C 1180.44 202.951 1184.33 198.924 1188.22 195.607 C 1192.12 192.29 1196.01 187.726 1199.91 187.726 C 1203.8 187.726 1207.69 195.139 1211.59 195.139 C 1215.48 195.139 1219.38 185.699 1223.27 185.699 C 1227.17 185.699 1231.06 188.805 1234.95 188.805 C 1238.85 188.805 1242.74 178.182 1246.64 178.182 C 1250.53 178.182 1254.42 187.1 1258.32 187.1 C 1262.21 187.1 1266.11 164.887 1270 142.674');
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#path_122*/

#DIV_123 {
    bottom: 5px;
    cursor: default;
    display: none;
    height: auto;
    left: 20px;
    position: absolute;
    width: 1250px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_123*/

#UL_124 {
    cursor: default;
    height: auto;
    text-align: center;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
}/*#UL_124*/

#LI_125 {
    cursor: default;
    display: inline-block;
    height: auto;
    text-align: center;
    width: auto;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 10px 0px 0px;
}/*#LI_125*/

#svg_126 {
    cursor: default;
    display: inline-block;
    height: 14px;
    text-align: center;
    vertical-align: middle;
    width: 14px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 4px 0px 0px;
    overflow: hidden;
}/*#svg_126*/

#path_127 {
    cursor: default;
    text-align: center;
    perspective-origin: 50% 50%;
    fill: none;
    stroke: rgb(73, 98, 243);
    stroke-width: 4px;
    d: path('M 0 16 h 10.6667 A 5.33333 5.33333 0 1 1 21.3333 16 H 32 M 21.3333 16 A 5.33333 5.33333 0 1 1 10.6667 16');
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#path_127*/

#SPAN_128 {
    cursor: default;
    text-align: center;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#SPAN_128*/

#DIV_129 {
    bottom: 309px;
    cursor: default;
    height: 41px;
    left: 0px;
    pointer-events: none;
    position: absolute;
    right: 1184.86px;
    top: 0px;
    visibility: hidden;
    width: 115.141px;
    perspective-origin: 57.5625px 20.5px;
    transform: matrix(1, 0, 0, 1, 30, 46);
    transform-origin: 57.5625px 20.5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_129*/

#DIV_130 {
    cursor: default;
    height: 19px;
    pointer-events: none;
    visibility: hidden;
    white-space: nowrap;
    width: 93.1406px;
    perspective-origin: 57.5625px 20.5px;
    transform-origin: 57.5625px 20.5px;
    background: rgb(255, 255, 255) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgb(204, 204, 204);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    padding: 10px;
}/*#DIV_130*/

#P_131 {
    cursor: default;
    height: 19px;
    pointer-events: none;
    visibility: hidden;
    white-space: nowrap;
    width: 93.1406px;
    perspective-origin: 46.5625px 9.5px;
    transform-origin: 46.5625px 9.5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px;
}/*#P_131*/

#DIV_132, #DIV_133, #DIV_135 {
    bottom: 0px;
    height: 350px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    visibility: hidden;
    width: 1300px;
    z-index: -1;
    perspective-origin: 650px 175px;
    transform-origin: 650px 175px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    overflow: hidden;
}/*#DIV_132, #DIV_133, #DIV_135*/

#DIV_134 {
    bottom: -10px;
    height: 360px;
    left: 0px;
    position: absolute;
    right: -10px;
    top: 0px;
    visibility: hidden;
    width: 1310px;
    perspective-origin: 655px 180px;
    transform-origin: 655px 180px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_134*/

#DIV_136 {
    bottom: -350px;
    height: 700px;
    left: 0px;
    position: absolute;
    right: -1300px;
    top: 0px;
    visibility: hidden;
    width: 2600px;
    perspective-origin: 1300px 350px;
    transform-origin: 1300px 350px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_136*/

#DIV_137 {
    height: 698px;
    min-height: auto;
    min-width: auto;
    width: 604.5px;
    perspective-origin: 302.25px 349px;
    transform-origin: 302.25px 349px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 70px 0px 0px;
}/*#DIV_137*/

#DIV_138 {
    display: flex;
    height: 74px;
    width: 604.5px;
    perspective-origin: 302.25px 37px;
    transform-origin: 302.25px 37px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_138*/

#DIV_139 {
    display: flex;
    height: 74px;
    min-height: auto;
    min-width: auto;
    width: 451.813px;
    align-items: baseline;
    perspective-origin: 225.906px 37px;
    transform-origin: 225.906px 37px;
    flex: 1 1 0%;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_139*/

#H3_140 {
    color: rgb(61, 62, 61);
    height: 23px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(61, 62, 61);
    width: 111.125px;
    column-rule-color: rgb(61, 62, 61);
    perspective-origin: 55.5625px 11.5px;
    transform-origin: 55.5625px 11.5px;
    caret-color: rgb(61, 62, 61);
    border: 0px none rgb(61, 62, 61);
    font: normal normal 900 normal 16px / normal Roboto, sans-serif;
    margin: 35px 0px 16px;
    outline: rgb(61, 62, 61) none 0px;
}/*#H3_140*/

#SPAN_141, #SPAN_143 {
    color: rgb(132, 132, 132);
    display: block;
    height: 19px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(132, 132, 132);
    width: 12px;
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 6px 9.5px;
    transform-origin: 6px 9.5px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 0px 0px 20px;
    outline: rgb(132, 132, 132) none 0px;
}/*#SPAN_141, #SPAN_143*/

#I_142 {
    color: rgb(132, 132, 132);
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(132, 132, 132);
    width: 12px;
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    outline: rgb(132, 132, 132) none 0px;
}/*#I_142*/

#I_142:before {
    color: rgb(132, 132, 132);
    content: '""';
    text-decoration: none solid rgb(132, 132, 132);
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    outline: rgb(132, 132, 132) none 0px;
}/*#I_142:before*/

#I_144 {
    color: rgb(132, 132, 132);
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(132, 132, 132);
    width: 12px;
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    outline: rgb(132, 132, 132) none 0px;
}/*#I_144*/

#I_144:before {
    color: rgb(132, 132, 132);
    content: '""';
    text-decoration: none solid rgb(132, 132, 132);
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    outline: rgb(132, 132, 132) none 0px;
}/*#I_144:before*/

#DIV_145 {
    display: flex;
    height: 74px;
    min-height: auto;
    min-width: auto;
    width: 152.688px;
    align-items: baseline;
    perspective-origin: 76.3438px 37px;
    transform-origin: 76.3438px 37px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_145*/

#SPAN_146 {
    color: rgb(132, 132, 132);
    display: block;
    height: 19px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(132, 132, 132);
    width: 12px;
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 6px 9.5px;
    transform-origin: 6px 9.5px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 35px 0px 0px;
    outline: rgb(132, 132, 132) none 0px;
}/*#SPAN_146*/

#I_147 {
    color: rgb(132, 132, 132);
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(132, 132, 132);
    width: 12px;
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    outline: rgb(132, 132, 132) none 0px;
}/*#I_147*/

#I_147:before {
    color: rgb(132, 132, 132);
    content: '""';
    text-decoration: none solid rgb(132, 132, 132);
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    outline: rgb(132, 132, 132) none 0px;
}/*#I_147:before*/

#H3_148 {
    color: rgb(61, 62, 61);
    height: 23px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(61, 62, 61);
    width: 58.6875px;
    column-rule-color: rgb(61, 62, 61);
    perspective-origin: 29.3438px 11.5px;
    transform-origin: 29.3438px 11.5px;
    caret-color: rgb(61, 62, 61);
    border: 0px none rgb(61, 62, 61);
    font: normal normal 900 normal 16px / normal Roboto, sans-serif;
    margin: 35px 35px 16px 0px;
    outline: rgb(61, 62, 61) none 0px;
}/*#H3_148*/

#SPAN_149, #SPAN_150 {
    color: rgb(132, 132, 132);
    text-decoration: none solid rgb(132, 132, 132);
    column-rule-color: rgb(132, 132, 132);
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 900 normal 16px / normal Roboto, sans-serif;
    outline: rgb(132, 132, 132) none 0px;
}/*#SPAN_149, #SPAN_150*/

#SPAN_151 {
    color: rgb(132, 132, 132);
    display: block;
    height: 19px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(132, 132, 132);
    width: 12px;
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 6px 9.5px;
    transform-origin: 6px 9.5px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    outline: rgb(132, 132, 132) none 0px;
}/*#SPAN_151*/

#I_152 {
    color: rgb(132, 132, 132);
    display: inline-block;
    height: 16px;
    text-decoration: none solid rgb(132, 132, 132);
    width: 12px;
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    outline: rgb(132, 132, 132) none 0px;
}/*#I_152*/

#I_152:before {
    color: rgb(132, 132, 132);
    content: '""';
    text-decoration: none solid rgb(132, 132, 132);
    column-rule-color: rgb(132, 132, 132);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(132, 132, 132);
    border: 0px none rgb(132, 132, 132);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    outline: rgb(132, 132, 132) none 0px;
}/*#I_152:before*/

#DIV_153 {
    width: 604.5px;
    perspective-origin: 302.25px 0px;
    transform-origin: 302.25px 0px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_153*/

#DIV_154 {
    width: 1200px;
    perspective-origin: 600px 0px;
    transform-origin: 600px 0px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
}/*#DIV_154*/

#DIV_155 {
    box-shadow: rgb(141, 166, 240) 19px 15px 70px -16px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    float: left;
    height: 167px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 315px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 157.5px 83.5px;
    transform-origin: 157.5px 83.5px;
    caret-color: rgb(255, 255, 255);
    background: rgb(73, 99, 243) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 30px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    transition: opacity 2s ease-in 0s;
}/*#DIV_155*/

#DIV_156 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 97px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 245px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 122.5px 48.5px;
    transform-origin: 122.5px 48.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 35px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_156*/

#SPAN_157 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 15px;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: capitalize;
    width: 245px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 122.5px 7.5px;
    transform-origin: 122.5px 7.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 13px / normal Roboto, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_157*/

#SPAN_158 {
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 27px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 245px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 122.5px 13.5px;
    transform-origin: 122.5px 13.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_158*/

#SPAN_159 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 27px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 245px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 122.5px 13.5px;
    transform-origin: 122.5px 13.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 22px / normal Roboto, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_159*/

#SPAN_160 {
    bottom: -33px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 37px;
    left: 64px;
    position: absolute;
    right: 11.0938px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 3px;
    width: 169.906px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 84.9531px 18.5px;
    transform-origin: 84.9531px 18.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 30px / normal Roboto, sans-serif;
    margin: 0px 0px 20px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_160*/

#DIV_161 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    height: 15px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 245px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 122.5px 7.5px;
    transform-origin: 122.5px 7.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_161*/

#SPAN_162 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 15px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(255, 255, 255);
    width: 158.906px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 79.4531px 7.5px;
    transform-origin: 79.4531px 7.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    flex: 1 1 0%;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_162*/

#SPAN_163, #SPAN_172 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 15px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(255, 255, 255);
    width: 86.0938px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 43.0469px 7.5px;
    transform-origin: 43.0469px 7.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_163, #SPAN_172*/

#DIV_164 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    float: left;
    height: 130px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 285px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 142.5px 65px;
    transform-origin: 142.5px 65px;
    caret-color: rgb(255, 255, 255);
    background: rgb(73, 98, 243) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 5px 5px 5px 5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 0px 30px 0px 0px;
    outline: rgb(255, 255, 255) none 0px;
    transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}/*#DIV_164*/

#DIV_164:after {
    bottom: 0px;
    box-shadow: rgb(141, 166, 240) 19px 15px 70px -16px;
    color: rgb(255, 255, 255);
    content: '""';
    cursor: pointer;
    display: block;
    height: 227px;
    left: 0px;
    position: absolute;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 1349px;
    z-index: -1;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 674.5px 113.5px;
    transform-origin: 674.5px 113.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
    transition: opacity 2s ease 0s;
}/*#DIV_164:after*/

#DIV_165 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 77px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 235px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 117.5px 38.5px;
    transform-origin: 117.5px 38.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 25px;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_165*/

#SPAN_166 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 15px;
    text-decoration: none solid rgb(255, 255, 255);
    text-transform: capitalize;
    width: 235px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 117.5px 7.5px;
    transform-origin: 117.5px 7.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 700 normal 13px / normal Roboto, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_166*/

#SPAN_167 {
    bottom: 0px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 27px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 0px;
    width: 235px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 117.5px 13.5px;
    transform-origin: 117.5px 13.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_167*/

#SPAN_168 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 27px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 235px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 117.5px 13.5px;
    transform-origin: 117.5px 13.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 22px / normal Roboto, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_168*/

#SPAN_169 {
    bottom: -23px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 37px;
    left: 64px;
    position: absolute;
    right: 1.09375px;
    text-decoration: none solid rgb(255, 255, 255);
    top: 3px;
    width: 169.906px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 84.9531px 18.5px;
    transform-origin: 84.9531px 18.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 30px / normal Roboto, sans-serif;
    margin: 0px 0px 10px;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_169*/

#DIV_170 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: flex;
    height: 15px;
    text-decoration: none solid rgb(255, 255, 255);
    width: 235px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 117.5px 7.5px;
    transform-origin: 117.5px 7.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#DIV_170*/

#SPAN_171 {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    height: 15px;
    min-height: auto;
    min-width: auto;
    text-decoration: none solid rgb(255, 255, 255);
    width: 148.906px;
    column-rule-color: rgb(255, 255, 255);
    perspective-origin: 74.4531px 7.5px;
    transform-origin: 74.4531px 7.5px;
    caret-color: rgb(255, 255, 255);
    border: 0px none rgb(255, 255, 255);
    flex: 1 1 0%;
    font: normal normal 400 normal 13px / normal Roboto, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_171*/

