#HEADDIV_1 {
    bottom: 0px;
    color: rgb(68, 68, 68);
    font-kerning: normal;
    height: 56px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(68, 68, 68);
    top: 0px;
    width: 1349px;
    z-index: 9996;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 674.5px 28px;
    transform-origin: 674.5px 28px;
    caret-color: rgb(68, 68, 68);
    background: rgba(47, 47, 47, 0.98) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(68, 68, 68);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_1*/

#HEADDIV_1:after {
    clear: both;
    color: rgb(68, 68, 68);
    content: '"."';
    display: block;
    font-kerning: normal;
    height: 0px;
    text-decoration: none solid rgb(68, 68, 68);
    visibility: hidden;
    width: 1349px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 674.5px 0px;
    transform-origin: 674.5px 0px;
    caret-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_1:after*/

#HEADDIV_2 {
    bottom: 0px;
    color: rgb(68, 68, 68);
    font-kerning: normal;
    height: 56px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(68, 68, 68);
    top: 0px;
    width: 1309px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 674.5px 28px;
    transform-origin: 674.5px 28px;
    caret-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 10px 0px 30px;
}/*#DIV_2*/

#HEADDIV_2:after {
    clear: both;
    color: rgb(68, 68, 68);
    content: '"."';
    display: block;
    font-kerning: normal;
    height: 0px;
    text-decoration: none solid rgb(68, 68, 68);
    visibility: hidden;
    width: 1309px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 654.5px 0px;
    transform-origin: 654.5px 0px;
    caret-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
}/*#DIV_2:after*/

#HEADDIV_3 {
    color: rgb(68, 68, 68);
    float: left;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(68, 68, 68);
    width: 76px;
    column-rule-color: rgb(68, 68, 68);
    perspective-origin: 48px 28px;
    transform-origin: 48px 28px;
    caret-color: rgb(68, 68, 68);
    border: 0px none rgb(68, 68, 68);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(68, 68, 68) none 0px;
    padding: 0px 20px 0px 0px;
}/*#DIV_3*/

#HEADA_4 {
    background-position: 0px 50%;
    color: rgb(58, 139, 187);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(58, 139, 187);
    width: 76px;
    column-rule-color: rgb(58, 139, 187);
    perspective-origin: 38px 28px;
    transform-origin: 38px 28px;
    caret-color: rgb(58, 139, 187);
    background: rgba(0, 0, 0, 0) url("https://cdn.dribbble.com/assets/logo-small-4612353cefa78dfe35ba5e8e9d35da9f9305a3a516ef9675b5c37004c5862b6d.png") no-repeat scroll 0px 50% / auto padding-box border-box;
    border: 0px none rgb(58, 139, 187);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(58, 139, 187) none 0px;
    transition: opacity 0.2s ease 0s;
}/*#A_4*/

#HEADIMG_5 {
    color: rgb(58, 139, 187);
    cursor: pointer;
    font-kerning: normal;
    text-decoration: none solid rgb(58, 139, 187);
    column-rule-color: rgb(58, 139, 187);
    caret-color: rgb(58, 139, 187);
    border: 0px none rgb(58, 139, 187);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(58, 139, 187) none 0px;
}/*#IMG_5*/

#HEADA_6 {
    color: rgb(58, 139, 187);
    display: none;
    font-kerning: normal;
    text-decoration: none solid rgb(58, 139, 187);
    column-rule-color: rgb(58, 139, 187);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(58, 139, 187);
    border: 0px none rgb(58, 139, 187);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    outline: rgb(58, 139, 187) none 0px;
}/*#A_6*/

#HEADUL_7 {
    color: rgb(119, 119, 119);
    font-kerning: normal;
    text-decoration: none solid rgb(119, 119, 119);
    width: 1039px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 519.5px 0px;
    transform-origin: 519.5px 0px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 10px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 250px 0px 20px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px;
}/*#UL_7*/

#HEADLI_8 {
    bottom: 15px;
    color: rgb(119, 119, 119);
    font-kerning: normal;
    height: 25px;
    left: 1099px;
    position: absolute;
    right: 30px;
    text-decoration: none solid rgb(119, 119, 119);
    top: 16px;
    width: 220px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 110px 12.5px;
    transform-origin: 110px 12.5px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_8*/

#HEADFORM_9 {
    color: rgb(119, 119, 119);
    font-kerning: normal;
    height: 25px;
    text-align: left;
    text-decoration: none solid rgb(119, 119, 119);
    width: 220px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 110px 12.5px;
    transform-origin: 110px 12.5px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(119, 119, 119) none 0px;
}/*#FORM_9*/

#HEADINPUT_10 {
    background-position: 7px 50%;
    box-sizing: content-box;
    color: rgb(187, 187, 187);
    font-kerning: normal;
    height: 15px;
    text-decoration: none solid rgb(187, 187, 187);
    vertical-align: middle;
    width: 190px;
    column-rule-color: rgb(187, 187, 187);
    perspective-origin: 110px 12.5px;
    transform-origin: 110px 12.5px;
    caret-color: rgb(187, 187, 187);
    background: rgb(255, 255, 255) url("https://cdn.dribbble.com/assets/icon-search-7a07ad9f258fc1d8c28a29faa5627b41c2cc353d138b6bc3e987e0719584ce69.png") no-repeat scroll 7px 50% / auto padding-box border-box;
    border: 0px none rgb(187, 187, 187);
    border-radius: 4px 4px 4px 4px;
    font: normal normal 400 normal 13px / normal "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(187, 187, 187) none 0px;
    padding: 5px 5px 5px 25px;
}/*#INPUT_10*/

#HEADLI_11 {
    color: rgb(119, 119, 119);
    float: right;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 63.6406px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 31.8125px 28px;
    transform-origin: 31.8125px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_11*/

#HEADA_12 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 43.6406px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 31.8125px 28px;
    transform-origin: 31.8125px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_12*/

#HEADSPAN_13 {
    color: rgb(153, 153, 153);
    cursor: pointer;
    font-kerning: normal;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_13*/

#HEADLI_14 {
    color: rgb(119, 119, 119);
    float: right;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 68.7969px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 34.3906px 28px;
    transform-origin: 34.3906px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_14*/

#HEADA_15 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 48.7969px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 34.3906px 28px;
    transform-origin: 34.3906px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_15*/

#HEADLI_16 {
    color: rgb(119, 119, 119);
    float: left;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 57.8125px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 28.9063px 28px;
    transform-origin: 28.9063px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_16*/

#HEADA_17 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 37.8125px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 28.9063px 28px;
    transform-origin: 28.9063px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_17*/

#HEADUL_18, #HEADUL_37, #HEADUL_46, #HEADUL_57, #HEADUL_70, #HEADUL_77, #HEADUL_102 {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px 0px;
    color: rgb(119, 119, 119);
    display: none;
    float: left;
    font-kerning: normal;
    height: auto;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(119, 119, 119);
    width: 180px;
    z-index: 999;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(119, 119, 119);
    background: rgba(47, 47, 47, 0.98) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(119, 119, 119);
    border-radius: 0 0 6px 6px;
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -5px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 0px 10px;
}/*#UL_18, #UL_37, #UL_46, #UL_57, #UL_70, #UL_77, #UL_102*/

#HEADLI_19, #HEADLI_21, #HEADLI_23, #HEADLI_25, #HEADLI_27, #HEADLI_31, #HEADLI_33, #HEADLI_38, #HEADLI_40, #HEADLI_47, #HEADLI_51, #HEADLI_53, #HEADLI_58, #HEADLI_62, #HEADLI_64, #HEADLI_71, #HEADLI_78, #HEADLI_80, #HEADLI_82, #HEADLI_89, #HEADLI_93, #HEADLI_95, #HEADLI_97, #HEADLI_103, #HEADLI_105, #HEADLI_107, #HEADLI_113 {
    clear: left;
    color: rgb(119, 119, 119);
    font-kerning: normal;
    height: auto;
    text-decoration: none solid rgb(119, 119, 119);
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_19, #LI_21, #LI_23, #LI_25, #LI_27, #LI_31, #LI_33, #LI_38, #LI_40, #LI_47, #LI_51, #LI_53, #LI_58, #LI_62, #LI_64, #LI_71, #LI_78, #LI_80, #LI_82, #LI_89, #LI_93, #LI_95, #LI_97, #LI_103, #LI_105, #LI_107, #LI_113*/

#HEADA_20, #HEADA_22, #HEADA_26, #HEADA_30, #HEADA_34, #HEADA_39, #HEADA_43, #HEADA_48, #HEADA_50, #HEADA_54, #HEADA_59, #HEADA_61, #HEADA_65, #HEADA_67, #HEADA_72, #HEADA_74, #HEADA_79, #HEADA_83, #HEADA_85, #HEADA_90, #HEADA_92, #HEADA_96, #HEADA_104, #HEADA_108, #HEADA_110, #HEADA_112, #HEADA_116 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 13px / 16.9px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 5px 15px;
}/*#A_20, #A_22, #A_26, #A_30, #A_34, #A_39, #A_43, #A_48, #A_50, #A_54, #A_59, #A_61, #A_65, #A_67, #A_72, #A_74, #A_79, #A_83, #A_85, #A_90, #A_92, #A_96, #A_104, #A_108, #A_110, #A_112, #A_116*/

#HEADA_24, #HEADA_28, #HEADA_32, #HEADA_41, #HEADA_52, #HEADA_63, #HEADA_81, #HEADA_94, #HEADA_106, #HEADA_114 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 13px / 16.9px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 5px 15px;
}/*#A_24, #A_28, #A_32, #A_41, #A_52, #A_63, #A_81, #A_94, #A_106, #A_114*/

#HEADLI_29, #HEADLI_42, #HEADLI_49, #HEADLI_60, #HEADLI_73, #HEADLI_84, #HEADLI_91, #HEADLI_109, #HEADLI_115 {
    clear: left;
    color: rgb(119, 119, 119);
    font-kerning: normal;
    height: auto;
    text-decoration: none solid rgb(119, 119, 119);
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(119, 119, 119);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 0px none rgb(119, 119, 119);
    border-bottom: 0px none rgb(119, 119, 119);
    border-left: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 4px 0px 0px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 4px 0px 0px;
}/*#LI_29, #LI_42, #LI_49, #LI_60, #LI_73, #LI_84, #LI_91, #LI_109, #LI_115*/

#HEADLI_35 {
    color: rgb(119, 119, 119);
    float: left;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 85.75px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 42.875px 28px;
    transform-origin: 42.875px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_35*/

#HEADA_36 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 65.75px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 42.875px 28px;
    transform-origin: 42.875px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_36*/

#HEADLI_44 {
    color: rgb(119, 119, 119);
    float: left;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 49.5px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 24.75px 28px;
    transform-origin: 24.75px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_44*/

#HEADA_45 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 29.5px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 24.75px 28px;
    transform-origin: 24.75px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_45*/

#HEADLI_55 {
    color: rgb(119, 119, 119);
    float: left;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 73.4531px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 36.7188px 28px;
    transform-origin: 36.7188px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_55*/

#HEADA_56 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 53.4531px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 36.7188px 28px;
    transform-origin: 36.7188px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_56*/

#HEADLI_66, #HEADLI_111 {
    clear: left;
    color: rgb(119, 119, 119);
    font-kerning: normal;
    height: auto;
    text-decoration: none solid rgb(119, 119, 119);
    width: 100%;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(119, 119, 119);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    border-right: 0px none rgb(119, 119, 119);
    border-bottom: 0px none rgb(119, 119, 119);
    border-left: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 4px 0px 0px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 4px 0px 0px;
}/*#LI_66, #LI_111*/

#HEADLI_68 {
    bottom: 0px;
    color: rgb(119, 119, 119);
    float: left;
    font-kerning: normal;
    height: 56px;
    left: 0px;
    position: relative;
    right: 0px;
    text-decoration: none solid rgb(119, 119, 119);
    top: 0px;
    width: 76.8125px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 38.4063px 28px;
    transform-origin: 38.4063px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_68*/

#HEADA_69 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 56.8125px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 38.4063px 28px;
    transform-origin: 38.4063px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_69*/

#HEADLI_75 {
    color: rgb(119, 119, 119);
    float: left;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 51.5px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 25.75px 28px;
    transform-origin: 25.75px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_75*/

#HEADA_76 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 31.5px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 25.75px 28px;
    transform-origin: 25.75px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_76*/

#HEADLI_86 {
    color: rgb(119, 119, 119);
    float: left;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 58.2344px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 29.1094px 28px;
    transform-origin: 29.1094px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_86*/

#HEADA_87 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 38.2344px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 29.1094px 28px;
    transform-origin: 29.1094px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_87*/

#HEADUL_88 {
    box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px 0px;
    color: rgb(119, 119, 119);
    display: none;
    float: left;
    font-kerning: normal;
    height: auto;
    position: absolute;
    text-align: left;
    text-decoration: none solid rgb(119, 119, 119);
    width: 220px;
    z-index: 999;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(119, 119, 119);
    background: rgba(47, 47, 47, 0.98) none repeat scroll 0% 0% / auto padding-box padding-box;
    border: 0px none rgb(119, 119, 119);
    border-radius: 0 0 6px 6px;
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 0px -5px;
    outline: rgb(119, 119, 119) none 0px;
    padding: 0px 0px 10px;
}/*#UL_88*/

#HEADA_98 {
    background-position: 15px 50%;
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    caret-color: rgb(153, 153, 153);
    background: rgba(0, 0, 0, 0) url("https://cdn.dribbble.com/assets/icon-external-link-2c8c30f381c99fd3dcc5a86cf37f045a146218a58e379c0d3c1cde9562ae322d.png") no-repeat scroll 15px 50% / auto padding-box border-box;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 13px / 16.9px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 5px 15px 5px 35px;
}/*#A_98*/

#HEADLI_99 {
    color: rgb(119, 119, 119);
    float: left;
    font-kerning: normal;
    height: 56px;
    text-decoration: none solid rgb(119, 119, 119);
    width: 42px;
    column-rule-color: rgb(119, 119, 119);
    perspective-origin: 21px 28px;
    transform-origin: 21px 28px;
    caret-color: rgb(119, 119, 119);
    border: 0px none rgb(119, 119, 119);
    font: normal normal 400 normal 14px / 14px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(119, 119, 119) none 0px;
}/*#LI_99*/

#HEADA_100 {
    color: rgb(153, 153, 153);
    display: block;
    font-kerning: normal;
    height: 56px;
    opacity: 0.5;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    width: 22px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 21px 28px;
    transform-origin: 21px 28px;
    caret-color: rgb(153, 153, 153);
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 10px;
}/*#A_100*/

#HEADSPAN_101 {
    background-position: 0px 50%;
    color: rgb(153, 153, 153);
    cursor: pointer;
    display: block;
    font-kerning: normal;
    height: 56px;
    text-align: left;
    text-decoration: none solid rgb(153, 153, 153);
    text-indent: -9999px;
    width: 0px;
    column-rule-color: rgb(153, 153, 153);
    perspective-origin: 11px 28px;
    transform-origin: 11px 28px;
    caret-color: rgb(153, 153, 153);
    background: rgba(0, 0, 0, 0) url("https://cdn.dribbble.com/assets/icon-more-dots-8624bddd5cc1950979b7c8dc571cf95d0e314600a9f8e43d99a17b57877808b6.png") no-repeat scroll 0px 50% / auto padding-box border-box;
    border: 0px none rgb(153, 153, 153);
    font: normal normal 400 normal 14px / 56px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(153, 153, 153) none 0px;
    padding: 0px 0px 0px 22px;
}/*#SPAN_101*/

