#SIDEDIV_1 {
    bottom: -70px;
    height: 227px;
    left: 0px;
    position: fixed;
    right: 1296px;
    top: 0px;
    width: 70px;
    z-index: 1;
    perspective-origin: 35px 113.5px;
    transform-origin: 35px 113.5px;
    font: normal normal 400 normal 16px / normal Roboto, sans-serif;
    margin: 70px 0px 0px;
}/*#DIV_1*/

#SIDEDIV_2 {
    bottom: 0px;
    height: 90px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 70px;
    perspective-origin: 35px 45px;
    transform-origin: 35px 45px;
    background: rgb(242, 244, 249) none repeat scroll 0% 0% / auto padding-box border-box;
    font: normal normal 400 normal 16px / 0px Roboto, sans-serif;
}/*#DIV_2*/

#SIDEUL_3 {
    box-shadow: rgba(141, 166, 240, 0.75) 13px 31px 86px -4px;
    height: 227px;
    width: 70px;
    perspective-origin: 35px 113.5px;
    transform-origin: 35px 113.5px;
    background: rgb(72, 100, 243) none repeat scroll 0% 0% / auto padding-box border-box;
    border-radius: 0 3px 0 0;
    font: normal normal 400 normal 16px / 0px Roboto, sans-serif;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}/*#UL_3*/

#SIDELI_4, #SIDELI_7, #SIDELI_10, #SIDELI_13, #SIDELI_16 {
    bottom: 0px;
    height: 60px;
    left: 0px;
    position: relative;
    right: 0px;
    top: 0px;
    width: 70px;
    perspective-origin: 35px 30px;
    transform-origin: 35px 30px;
    font: normal normal 400 normal 16px / 0px Roboto, sans-serif;
    list-style: none outside none;
}/*#LI_4, #LI_7, #LI_10, #LI_13, #LI_16*/

#SIDEDIV_5, #SIDEDIV_8, #SIDEDIV_11, #SIDEDIV_14, #SIDEDIV_17, #SIDEDIV_20 {
    bottom: 0px;
    color: rgb(164, 184, 249);
    cursor: pointer;
    display: flex;
    height: 60px;
    left: 0px;
    position: relative;
    right: 0px;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    top: 0px;
    width: 70px;
    column-rule-color: rgb(164, 184, 249);
    align-items: flex-end;
    justify-content: center;
    perspective-origin: 35px 30px;
    transform-origin: 35px 30px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 0px Roboto, sans-serif;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#DIV_5, #DIV_8, #DIV_11, #DIV_14, #DIV_17, #DIV_20*/

#SIDEI_6 {
    color: rgb(164, 184, 249);
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    width: 12px;
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_6*/

#SIDEI_6:before {
    color: rgb(164, 184, 249);
    content: '""';
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_6:before*/

#SIDEI_9 {
    color: rgb(164, 184, 249);
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    width: 12px;
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_9*/

#SIDEI_9:before {
    color: rgb(164, 184, 249);
    content: '""';
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_9:before*/

#SIDEI_12 {
    color: rgb(164, 184, 249);
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    width: 12px;
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_12*/

#SIDEI_12:before {
    color: rgb(164, 184, 249);
    content: '""';
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_12:before*/

#SIDEI_15 {
    color: rgb(164, 184, 249);
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    width: 12px;
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_15*/

#SIDEI_15:before {
    color: rgb(164, 184, 249);
    content: '""';
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_15:before*/

#SIDEI_18 {
    color: rgb(164, 184, 249);
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    width: 12px;
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_18*/

#SIDEI_18:before {
    color: rgb(164, 184, 249);
    content: '""';
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_18:before*/

#SIDELI_19 {
    bottom: 25px;
    height: 60px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 142px;
    width: 70px;
    perspective-origin: 35px 30px;
    transform-origin: 35px 30px;
    font: normal normal 400 normal 16px / 0px Roboto, sans-serif;
    list-style: none outside none;
}/*#LI_19*/

#SIDEI_21 {
    color: rgb(164, 184, 249);
    cursor: pointer;
    display: block;
    height: 16px;
    min-height: auto;
    min-width: auto;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    width: 12px;
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 6px 8px;
    transform-origin: 6px 8px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_21*/

#SIDEI_21:before {
    color: rgb(164, 184, 249);
    content: '""';
    cursor: pointer;
    text-align: left;
    text-decoration: none solid rgb(164, 184, 249);
    column-rule-color: rgb(164, 184, 249);
    perspective-origin: 0px 0px;
    transform-origin: 0px 0px;
    caret-color: rgb(164, 184, 249);
    border: 0px none rgb(164, 184, 249);
    font: normal normal 400 normal 16px / 16px FontAwesome;
    list-style: none outside none;
    outline: rgb(164, 184, 249) none 0px;
}/*#I_21:before*/

